.whiteLineBgColor {
  background-color: #f2f2f2;
  height: 13rem;
}
.whiteLineTextColor {
  color: #352d26;
}
.subCategoryButtonsBorder {
  border: 1px solid black;
}
.whiteLineBorder:hover {
  color: #f2f2f2;
  background-color: black;
}
