.adminDashBoardMainBody {
  border: 3px solid #8baa8d;
  color: #8baa8d;
  cursor: pointer;
}
.adminDashBoardMainBody:hover {
  color: white;
  background-color: #8baa8d;
}
.adminDashBoardPurpleButton {
  color: #9d86f3;
  border: 2px solid black;

  cursor: pointer;
}
.customPurple {
  color: #9d86f3;
  text-decoration: none !important;
}

.adminDashBoardPurpleButton:hover {
  color: white;
  background-color: #9d86f3;
}
.adminDashBoardRedButton {
  color: red;
  border: 2px solid black;

  cursor: pointer;
}
.adminDashBoardRedButton:hover {
  color: white;
  background-color: red;
}
.homePageCartPageButtons {
  border: 3px solid red;
  color: red;
  cursor: pointer;
}
.homePageCartPageButtons:hover {
  border: 3px solid red;
  color: white;
  cursor: pointer;
  background-color: red;
}
