.logo {
  height: 6rem;
  width: 15rem;
  padding: 0px;
  margin: 0px;
}
.customFont {
  font-size: 1.2rem;
  color: #323a75;
}

.blackCircle {
  border-radius: 50%;
  background-color: black;
  height: 1.6rem;
  width: 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
